.App {
	text-align: center;
}

.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}

.App-logo {
	height: 80px;
}

.loading {
	text-align: center;
	display: flex;
	justify-content: center;
	padding: 250px 0;
	align-items: center;
}

body {
	background: rgb(197, 190, 219);
	color: #fff;
	font-size: 1.5em;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", sans-serif;
	font-weight: 100;
	text-align: center;
}

.container {
	background: white;
	color: #56689a;
	display: inline-block;
	padding: 0em 2em;
	margin: 2em auto;
	box-shadow: 0 50px 50px rgba(0, 0, 0, .2);
}

.toolBar {
	height: '10vh';
	display: 'flex';
	justify-content: 'space-between';
	padding: '20px';
	background-color: 'white';
}

.logo {
	color: 'blue';
	cursor: 'pointer';
}

.menuIcon {
	color: '#000';
}

.formField {
	color: #56689a;
}

.sign-form {
	width: 600px;
	text-align: left;
	margin: 85px 0 0 0;
	color: #56689a;
}

input {
	border: 1px solid #080a33;
}

.show-body {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}

.App-header {
	background-color: #292929;
	height: 50px;
	padding: 20px;
	color: #222;
}

.App-title {
	font-size: 1.5em;
	font-weight: bold;
	color: white;
}

.P-title {
	font-weight: bold;
	color: white;
}

.P-title-home {
	font-weight: bold;
	color: black;
}

cite {
	font-weight: bold;
}

table {
	align-content: center;
	margin: auto;
}

td {
	padding: 10px;
}

.App-intro {
	font-size: large;
}

.cap-first-letter:first-letter {
	text-transform: capitalize;
}

.col-sm-6,
col-md-4 {
	border: 1px;
}

.hometext {
	max-width: 60%;
}

.showlink {
	padding: 0.4rem 0.8rem;
	background-color: white;
	border-radius: 3px;
	color: black;
	text-decoration: none !important;
	margin: 5px;
}

.showlink-home {
	padding: 0.4rem 0.8rem;
	background-color: rgb(87, 87, 91);
	border-radius: 3px;
	color: white;
	text-decoration: none !important;
	margin: 5px;
}

.showlink:hover {
	background-color: transparent;
	color: white;
	border: 2px solid white;
}

li {
	padding: 20px;
}

p {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

div {
	text-align: center;
}

a {
	color: #080a33;
	text-decoration: none !important;
}

ul a:hover {
	background-color: transparent;
	color: blue;
}

ul {
	list-style: none;
}

.title {
	font-weight: bold;
	color: #080a33;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
	input {
		font-size: 16px;
	}
}

dt,
dl {
	padding: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
}

dt {
	display: inline-block;
}

dd {
	display: inline;
	margin-left: 5px;
}

.parent {
	margin: 1rem;
	text-align: center;
	color: #080a33;
}

.child {
	display: inline-block;
	vertical-align: middle;
	color: #080a33;
}

.buttonLink {
	padding: 0.4rem 0.8rem;
	background-color: white;
	border-radius: 3px;
	color: #080a33;
	text-decoration: none !important;
	margin: 5px;
}

.center {
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.centerLogin {
	margin: 0;
	position: absolute;
	/* top: 50%; */
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.topNav {
	right: 25px;
	position: absolute;
}


.banner {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 400px;
	/* background-image: url('banner.jpg'); */
	background-size: cover;
	color: #fff;
	text-align: center;
}

h1 {
	color: rgba(0, 0, 0, .2);
	font-size: 48px;
	margin-bottom: 20px;
}

h2 {
	color: rgba(0, 0, 0, .2);
	font-size: 32px;
	margin-bottom: 20px;
}

p {
	color: rgba(0, 0, 0, .2);
	font-size: 16px;
	line-height: 1.5;
}

button {
	padding: 10px 20px;
	border: none;
	background-color: #fff;
	color: #000;
	font-weight: bold;
	font-size: 16px;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

button:hover {
	background-color: #000;
	color: #fff;
}

.features {
	display: flex;
	justify-content: space-between;
	margin: 50px auto;
	width: 80%;
}

.feature {
	flex-basis: 30%;
	text-align: center;
}

.testimonials {
	margin: 50px auto;
	width: 80%;
}

footer {
	background-color: #f9f9f9;
	padding: 20px;
	text-align: center;
	margin-top: 150px;
}
.vaccine-form { 
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		text-align: center;
}

.vacField {
		width: 100%;
		margin-bottom: 1rem;
}

.vaccine-image {
	width: 160px;
	height: 160
}

.appointment-form { 
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.appointmentField {
	width: 100%;
	margin-bottom: 1rem;
}

.mealField {
	width: 100%;
	margin-bottom: 1rem;
}
