.hero {
	height: 500px;
	background-image: url('img/hero.jpeg');
	background-position: center;
	background-size: cover;
	display: flex;
	flex-direction: column;
	justify-content: center;
	color: #7c6fa0;
	padding-left: 20px;
	padding-left: 100px;
	text-shadow: 6px 6px 14px #000000;
}

.hero h1 {
	font-size: 68px;
	font-weight: bold;
	text-align: center;
	color: #998fb6;
	overflow: hidden;
	white-space: nowrap;
	margin: 0 auto;
	padding-bottom: 20px;
	border-right: .1em solid orange;
	animation:
		typing 3.5s steps(40, end),
		blink-caret .75s step-end infinite;
}

@keyframes typing {
	from {
		width: 0;
	}

	to {
		width: 80%;
	}
}

@keyframes blink-caret {

	from,
	to {
		border-color: transparent;
	}

	50% {
		border-color: orange;
	}
}

.hero blockquote {
	color: white;
	font-size: 24px;
	margin: 0 auto;
	overflow: hidden;
	font-weight: bold;
	text-align: center;
	font-style: italic;
	opacity: 0;
	animation: fade-in 1s ease-out 3s forwards;
}

@keyframes fade-in {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

.App {
	text-align: center;
}

.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}

.loading {
	text-align: center;
	display: flex;
	justify-content: center;
	padding: 250px 0;
	align-items: center;
}

body {
	background: rgb(197, 190, 219);
	color: #ffffff;
	font-size: 1.5em;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", sans-serif;
	font-weight: 100;
	text-align: center;
}

.container {
	background: white;
	color: #56689a;
	display: inline-block;
	padding: 0em 2em;
	margin: 2em auto;
	box-shadow: 0 50px 50px rgba(0, 0, 0, .2);
}

.toolBar {
	height: 10vh;
	display: flex;
	justify-content: space-between;
	padding: 20px;
	background-color: white;
}

.logo {
	color: blue;
	cursor: pointer;
}

.menuIcon {
	color: #000;
}

.formField {
	color: #56689a;
}

.sign-form {
	width: 600px;
	text-align: left;
	margin: 85px 0 0 0;
	color: #56689a;
}

input {
	border: 1px solid #080a33;
}

.show-body {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}

.App-header {
	background-color: #292929;
	height: 50px;
	padding: 20px;
	color: #222;
}

.App-title {
	font-size: 1.5em;
	font-weight: bold;
	color: white;
}

.P-title {
	font-weight: bold;
	color: white;
}

.P-title-home {
	font-weight: bold;
	color: black;
}

cite {
	font-weight: bold;
}

table {
	align-content: center;
	margin: auto;
}

td {
	padding: 10px;
}

.App-intro {
	font-size: large;
}

.cap-first-letter:first-letter {
	text-transform: capitalize;
}

.col-sm-6,
col-md-4 {
	border: 1px;
}

.hometext {
	max-width: 60%;
}

.showlink {
	padding: 0.4rem 0.8rem;
	background-color: white;
	border-radius: 3px;
	color: black;
	text-decoration: none !important;
	margin: 5px;
}

.showlink-home {
	padding: 0.4rem 0.8rem;
	background-color: rgb(87, 87, 91);
	border-radius: 3px;
	color: white;
	text-decoration: none !important;
	margin: 5px;
}

.showlink:hover {
	background-color: transparent;
	color: white;
	border: 2px solid white;
}

li {
	padding: 20px;
}

p {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

div {
	text-align: center;
}

a {
	color: #080a33;
	text-decoration: none !important;
}

ul a:hover {
	background-color: transparent;
	color: blue;
}

ul {
	list-style: none;
}

.title {
	font-weight: bold;
	color: #080a33;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
	input {
		font-size: 16px;
	}
}

dt,
dl {
	padding: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
}

dt {
	display: inline-block;
}

dd {
	display: inline;
	margin-left: 5px;
}

.parent {
	margin: 1rem;
	text-align: center;
	color: #080a33;
}

.child {
	display: inline-block;
	vertical-align: middle;
	color: #080a33;
}

.buttonLink {
	padding: 0.4rem 0.8rem;
	background-color: white;
	border-radius: 3px;
	color: #080a33;
	text-decoration: none !important;
	margin: 5px;
}

.center {
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.centerLogin {
	margin: 0;
	position: absolute;
	/* top: 50%; */
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.topNav {
	right: 25px;
	position: absolute;
}


.banner {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 400px;
	/* background-image: url('banner.jpg'); */
	background-size: cover;
	color: #fff;
	text-align: center;
}

h1 {
	color: rgba(0, 0, 0, 0.868);
	font-size: 48px;
	margin-bottom: 20px;
}

h2 {
	color: rgba(0, 0, 0, 0.559);
	font-size: 32px;
	margin-bottom: 20px;
}

p {
	color: rgba(0, 0, 0, 0.904);
	font-size: 16px;
	line-height: 1.5;
}

button {
	padding: 10px 20px;
	border: none;
	background-color: #fff;
	color: #000;
	font-weight: bold;
	font-size: 16px;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

button:hover {
	color: #fff;
}

.card-container {
	max-width: 1400px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 30px;
	margin: 0 auto;
}

.card {
	max-width: 380px;
	margin: 0 auto;
	background-color: #2c3e50;
	box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
	border-radius: 5px;
	width: 30%;
	height: 250px;
	padding: 10px;
	transition: all 0.3s ease-in-out;
}

.card:hover {
	transform: translateY(-5px);
	box-shadow: 2px 15px 4px #f1c40f;
}

.card h2 {
	color: #fff;
	font-size: 1.5rem;
	margin-bottom: 10px;
	padding-top: 10px;
}

.card p {
	color: #fff;
	font-size: 1rem;
	padding: 0 30px;
}

hr {
	width: 60%;
	height: 3px;
	background-color: #f1c40f;
	border: none;
	margin: 20px auto;
}

.testimonials {
	margin: 50px auto;
	width: 80%;
}

footer {
	background-color: #f9f9f9;
	padding: 20px;
	text-align: center;
	margin-top: 70px;
}

.vaccine-form {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.vacField {
	width: 100%;
	margin-bottom: 1rem;
}

.vaccine-image {
	width: 160px;
	height: 160px;
}

.appointment-form {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.appointmentField {
	width: 100%;
	margin-bottom: 1rem;
}

.mealField {
	width: 100%;
	margin-bottom: 1rem;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Poppins', sans-serif;
}

.chat {
	width: 100%;
	height: 100vh;
	display: flex;
	align-items: center;
}

.chat__main {
	height: 100%;
	flex: 1;
}

.message__container {
	width: 100%;
	height: 80vh;
	background-color: #fff;
	padding: 20px;
	overflow-y: scroll;
}

.message__container>* {
	margin-bottom: 10px;
}

.chat__footer {
	width: 100%;
	display: flex;
	padding: 10px;
	background-color: #807658;
	height: 10vh;
	align-items: center;
	justify-content: center;
}

.form_chat {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	text-align: center;
	/* added */
}

.message {
	width: 80%;
	height: 100%;
	border-radius: 10px;
	border: 1px solid #ddd;
	outline: none;
	padding: 15px;
	text-align: center;
	/* added */
}

.sendBtn {
	width: 150px;
	background-color: #008000;
	padding: 10px;
	border: none;
	outline: none;
	color: #f6f0e0;
	cursor: pointer;
	margin-left: 10px;
	/* added */
}

.sendBtn:hover {
	background-color: rgb(129, 201, 129);
}

.message__recipient {
	background-color: #f5ccc2;
	width: 300px;
	padding: 10px;
	border-radius: 10px;
	font-size: 15px;
	font-weight: bold;
}

.message__sender {
	background-color: rgb(194, 243, 194);
	max-width: 300px;
	padding: 10px;
	border-radius: 10px;
	margin-left: auto;
	font-size: 15px;
	font-weight: bold;
}

.message__chats>p {
	font-size: 15px;
	font-weight: bold;
}

.sender__name {
	text-align: right;
}

.reciever__name {
	text-align: left;
}

.errorText {
	color: red;
	font-weight: bold;
}